apiVersion: apps/v1
kind: Deployment
metadata:

  labels:
    app: ${{ values.application_name }}
    manifest_type: api
    tags.datadoghq.com/service: "${{ values.application_name }}"      # Service name for Datadog
    # tags.datadoghq.com/version: "v1.22-prod"        # Version of the app (you can automate this with CI/CD)
  name: ${{ values.application_name }}
spec:

  selector:
    matchLabels:
      app: ${{ values.application_name }}
  template:
    metadata:
      labels:
        app: ${{ values.application_name }}
        tags.datadoghq.com/service: "${{ values.application_name }}"
      name: ${{ values.application_name }}
    spec:
      containers:
      - image: 835518098452.dkr.ecr.ap-south-1.amazonaws.com/${{ values.image_repository }}:${{ values.image_tag }}
        # envFrom:
        # - secretRef:
        #     name: ${{ values.application_name }}-secrets
        imagePullPolicy: IfNotPresent
        name: ${{ values.application_name }}
        ports:
        - containerPort: 80
          name: http

        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /api/health
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 30
          timeoutSeconds: 300
        readinessProbe:
          failureThreshold: 3

          httpGet:
            path: /api/health
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 30
          timeoutSeconds: 300
        env:
          - name: DD_SERVICE
            value: "${{ values.application_name }}"  
